/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

html{
  font-family: 'Gaegu', cursive;
  font-size: 2.1rem;
  margin: 0 auto;
  background: #fff;
  max-width: 1920px;
}

body {
    color: #3C6373;
    background: #D3F1FF;
    font-size: 6vw;
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.1);
}

header {
    background: url(../img/background2.svg) #D3F1FF;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    padding-bottom: 6rem;
}

main{
    background: #83BD68 ;
    margin-top: -2px;
}

footer{
    background: #FFD200;
    border-top: 10px solid #505F4A;
}

.container{
    margin: 0 auto;
    width: 80vw;
    max-width: 800px;
    
}

header h2{
    color: #5A8190;
    margin: 0 0 10% 0;
    text-align: center;
    font-size: 140%;
}

header img{
    width: 100%;
    margin: 10% 0;
}

header ul li{
    margin: 10% 0;
}

header a.cta{
    display: block;
    text-align: center;
    background: #6B8361;
    text-decoration: none;
    color: #fff;
    padding: 6%;
    border-radius: 0.4rem;
}
header a.green{
    background-color: #EB7171;
    margin-top: 0.5rem;
}



header svg {
  width: 100%;
}

header ul{
    font-family: 'Poppins', sans-serif;
    margin: 0 5%;
}

main {
    line-height: 1.5;
    color: #fff;
    padding-bottom: 2rem;
}

main strong{
    font-weight: 700;
}

main a{
    color: #505F4A;
    font-weight: 700;
    white-space: nowrap;
}

main img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 75%;
    border:  0.5rem solid #fff;
    margin-bottom: 50px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

main p{
    margin-bottom: 10%;
}

footer{
    padding: 2rem 0;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
}

footer img{
    width: 75%;
    margin: 2rem auto;
    display: block;
}

footer small {
    font-size: 50%;
}

@media (min-width: 1000px) { 
    body {
        font-size: 60px;
    }
}